/**
 * SkiFree HTMl5 Clone CSS
 *
 * @author Andrew Mason (andrew@coderonfire.com)
 * @filedescription CSS theme
 */
 
 body {
	font-family: monospace;
	margin: 0;
 }
 
 #wrapper {
	margin: 0 auto;
	text-align: center;
 }
 
 canvas {
	border: none;
 }